<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microsilver.mrcard.basicservice.dao.FxSdWithdrawMapper" >
  <resultMap id="BaseResultMap" type="com.microsilver.mrcard.basicservice.model.FxSdWithdraw" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="finance_id" property="financeId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="isApproval" property="isapproval" jdbcType="INTEGER" />
    <result column="approval_time" property="approvalTime" jdbcType="INTEGER" />
    <result column="withdraw_sn" property="withdrawSn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, finance_id, create_time, amount, isApproval, approval_time, withdraw_sn
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdrawExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fx_sd_withdraw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fx_sd_withdraw
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fx_sd_withdraw
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdrawExample" >
    delete from fx_sd_withdraw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdraw" >
    insert into fx_sd_withdraw (id, finance_id, create_time, 
      amount, isApproval, approval_time, 
      withdraw_sn)
    values (#{id,jdbcType=BIGINT}, #{financeId,jdbcType=BIGINT}, #{createTime,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{isapproval,jdbcType=INTEGER}, #{approvalTime,jdbcType=INTEGER}, 
      #{withdrawSn,jdbcType=VARCHAR})
  </insert>

  <insert id="insertIntoReturnId" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdraw" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
    insert into fx_sd_withdraw (id, finance_id, create_time,
      amount, isApproval, approval_time,
      withdraw_sn)
    values (#{id,jdbcType=BIGINT}, #{financeId,jdbcType=BIGINT}, #{createTime,jdbcType=INTEGER},
      #{amount,jdbcType=DECIMAL}, #{isapproval,jdbcType=INTEGER}, #{approvalTime,jdbcType=INTEGER},
      #{withdrawSn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdraw" >
    insert into fx_sd_withdraw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="financeId != null" >
        finance_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="isapproval != null" >
        isApproval,
      </if>
      <if test="approvalTime != null" >
        approval_time,
      </if>
      <if test="withdrawSn != null" >
        withdraw_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="financeId != null" >
        #{financeId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isapproval != null" >
        #{isapproval,jdbcType=INTEGER},
      </if>
      <if test="approvalTime != null" >
        #{approvalTime,jdbcType=INTEGER},
      </if>
      <if test="withdrawSn != null" >
        #{withdrawSn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdrawExample" resultType="java.lang.Integer" >
    select count(*) from fx_sd_withdraw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fx_sd_withdraw
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.financeId != null" >
        finance_id = #{record.financeId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.isapproval != null" >
        isApproval = #{record.isapproval,jdbcType=INTEGER},
      </if>
      <if test="record.approvalTime != null" >
        approval_time = #{record.approvalTime,jdbcType=INTEGER},
      </if>
      <if test="record.withdrawSn != null" >
        withdraw_sn = #{record.withdrawSn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fx_sd_withdraw
    set id = #{record.id,jdbcType=BIGINT},
      finance_id = #{record.financeId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=DECIMAL},
      isApproval = #{record.isapproval,jdbcType=INTEGER},
      approval_time = #{record.approvalTime,jdbcType=INTEGER},
      withdraw_sn = #{record.withdrawSn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdraw" >
    update fx_sd_withdraw
    <set >
      <if test="financeId != null" >
        finance_id = #{financeId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isapproval != null" >
        isApproval = #{isapproval,jdbcType=INTEGER},
      </if>
      <if test="approvalTime != null" >
        approval_time = #{approvalTime,jdbcType=INTEGER},
      </if>
      <if test="withdrawSn != null" >
        withdraw_sn = #{withdrawSn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microsilver.mrcard.basicservice.model.FxSdWithdraw" >
    update fx_sd_withdraw
    set finance_id = #{financeId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      isApproval = #{isapproval,jdbcType=INTEGER},
      approval_time = #{approvalTime,jdbcType=INTEGER},
      withdraw_sn = #{withdrawSn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>